.container{
  min-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #01353E;
  padding-bottom: 50px;
}
.section{
  flex-direction: row;
  display: flex;}

.person:nth-of-type(2) {
  padding-left: 50px;
}
.person:nth-of-type(3) {
  padding-left: 50px;
}
.person > img{
  width: 300px;
  height: auto;
}
.person_name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.person_name > h6{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #242121;
  padding-bottom: 5px;
}
.person_name > p{
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #242121;
}