.container{
  min-height: 850px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section{
  height: 450px;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #01353E;
}

.instructor_about{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.instructor_about > p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #242121;
}
.instructor_about > p + p {
  padding-top: 30px;
}

.instructor_img{
  width: 600px;
  height: 100%;

}
