.container{
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8F8F8;


  padding-top: 100px;
  padding-bottom: 100px;
}

.title{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #01353E;

  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1300px;
}
.cart{
  height: 450px;
  width: 360px;
  padding: 45px 40px;
  position: relative;
  background-color: #fff;
}
.cart:nth-of-type(2) {
  margin-left: 60px;
}
.cart:nth-of-type(3) {
  margin-left: 60px;
}
.cart > h5{
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #242121;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.cart > p{
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #242121;
}
.cart > p + p{
  padding-top: 20px;
}
.cart > h6{
  font-size: 36px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  color: #242121;
  position: absolute;
  bottom: 45px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}