.container{
  background-image: url("./../../../assets/images/banner.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

  -webkit-box-shadow: 0px 200px 100px -5px rgba(4, 69, 80, 0.53) inset;
  -moz-box-shadow: 0px 200px 100px -5px rgba(4, 69, 80, 0.53) inset;
  box-shadow: 0px 200px 100px -5px rgba(4, 69, 80, 0.53) inset;
}

.main{
  width: 100vw;
  margin: 35px auto 90px;

  display: flex;
  flex-direction: column;

  align-items: center;

  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 24px;

  color: #fff;

}

.LogoImg{
  width: 60px;
  padding-right: 120px;
  cursor: pointer;
}

.navigation{
  display: flex;
  flex-direction: row;
  padding-right: 185px;
  padding-bottom: 200px;
  align-items: center;
}

.navigationA {
  color: #fff;
  cursor: pointer;
}

.navigationA + .navigationA {
  padding-left: 45px;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 260px;

}

.title > h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 180px;
  color: #0D302C;
}
.title > h4 {
  color: #0D302C;

}

.SurfBoardImg{
  margin-top: 220px;
  width: 20px;
} 
