.container{
  min-height: 600px;
  align-items: center;
  justify-content: center;

  padding-bottom: 200px;
}

.title{
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: #01353E;

  display: flex;
  justify-content: center;
  margin: 100px 0 50px;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 480px;


  color: #242121;
  
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 15.5px;
}

.block1{
  width: 480px;
  padding-right: 120px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block2{
  width: 480px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}